/* start header */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 767px) {
    header .container {
        flex-direction: column;
        gap: 20px;
    }
}
header .container .logo {
    display: flex;
    align-items: center;
    height: 80px;
}
header .container .main-nav {
    display: flex;
    align-items: center;
    gap: 25px;
}
@media (max-width: 767px) {
    header .container .main-nav {
        justify-content: center;
        flex-wrap: wrap;
    }
}
header .container .main-nav li .nav-link {
    font-size: 18px;
    font-weight: 500;
    color: var(--black-2);
    text-transform: capitalize;
    transition: var(--main-transition);
}
@media (max-width: 767px) {
    header .container .main-nav li .nav-link {
        font-size: 15px;
    }
}
header .container .main-nav li .nav-link:hover {
    color: var(--green-1);
}
/* end header */
/* start btn */
.btn {
    color: var(--green-1);
    padding: 10px 15px;
    width: fit-content;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    display: block;
}
@media (max-width: 767px) {
    .btn {
        font-size: 15px;
    }
}
.main-btn {
    color: white;
    background-color: var(--green-1);
}
/* end btn */
/* start address */
.address {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.address .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.address .container .box {
    background-color: var(--lightGreen-1);
    padding: 30px;
    width: 200px;
    border-radius: var(--main-border);
    text-align: center;
}
.address .container .box i {
    font-size: 40px;
    color: var(--green-1);
    margin-bottom: 30px;
}
.address .container .box span {
    display: block;
    margin-bottom: 15px;
    color: var(--black-1);
    font-weight: 500;
}
.address .container .box p {
    color: var(--black-2);
    font-weight: 300;
    text-transform: capitalize;
}
/* end address */
/* start main-heading */
.main-heading .main-title {
    text-transform: capitalize;
    color: var(--black-1);
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 15px;
}
.main-heading  p {
    color: var(--black-2);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
}
.main-heading  a {
    margin-top: 20px;
}
/* end main-heading */
/* start dishes */
.dishes {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.dishes .container .dishes-title {
    text-transform: capitalize;
    color: var(--black-1);
    margin-bottom: 20px;
}
.dishes .container .dishes-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.dishes .container .dishes-content .box {
    background-color: var(--lightGreen-1);
    border-radius: var(--main-border);
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.dishes .container .dishes-content .box img {
    width: 150px;
    border-radius: var(--main-border);
    flex: 1;
}
.dishes .container .dishes-content .box .info {
    flex: 1;
}
.dishes .container .dishes-content .box .info h3 {
    color: var(--black-1);
    font-size: 22px;
    font-weight: 500;
}
.dishes .container .dishes-content .box .info span {
    color: var(--green-1);
    font-weight: 600;
    font-size: 1.2rem;
    display: block;
    margin: 10px 0;
}
.dishes .container .dishes-content .box .info .rate .filled {
    color: var(--green-1);
}
/* end dishes */
/* start forms */
.forms {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.forms .container .form-holder h2 {
    color: var(--black-1);
    font-size: 35px;
    margin-bottom: 50px;
}
.forms .container .form-holder form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.forms .container .form-holder form .input-holder {
    width: calc(50% - 10px);
}
@media (max-width: 767px) {
    .forms .container .form-holder form .input-holder {
        width: 100%;
    }
}
.forms .container .form-holder form .textarea-holder {
    width: 100%;
}
.forms .container .form-holder form label {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
}
.forms .container .form-holder form .main-input {
    width: 100%;
    margin-top: 15px;
    padding: 20px;
    border-radius: var(--main-border);
    background-color: var(--lightGreen-1);
    border: 0;
}
.forms .container .form-holder form .main-input:focus {
    outline: none;
}
.forms .container .form-holder form textarea {
    height: 200px;
    resize: none;
}
.forms .container .form-holder form input[type=submit] {
    border: 0;
    padding: 15px 40px;
}
/* end forms */
/* start footer */
footer {
    background-color: var(--lightGreen-1);
    padding-top: 50px;
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
footer .container .box img {
    height: 60px;
}
footer .container .box p {
    color: var(--black-2);
    line-height: 1.6;
    margin: 20px 0;
}
footer .container .box .social h4 {
    text-transform: capitalize;
    color: var(--black-1);
    font-size: 1.1rem;
    margin-bottom: 20px;
}
footer .container .box .social .icons {
    display: flex;
    gap: 15px;
}
footer .container .box .social .icons a {
    background-color: var(--white-1);
    width: 40px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid var(--green-2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-2);
    font-size: 18px;
}
footer .container .box h3 {
    margin-bottom: 20px;
    text-transform: capitalize;
    color: var(--black-1);
}
footer .container .box .links li {
    padding: 10px 0;
}
footer .container .box .links li a {
    color: var(--black-2);
    text-transform: capitalize;
}
footer .container .box .info {
    margin-bottom: 15px;
    color: var(--black-2);
}
footer .copyright {
    text-align: center;
    color: var(--black-2);
    padding: 15px 10px;
    background-color: var(--lightGreen-2);
    margin-top: 50px;
    line-height: 1.6;
}
@media (max-width: 767px) {
    footer .copyright {
        font-size: 14px;
    }
}
/* end footer */